.Main{
    display: flex;

}
.blue-1{
    background-color: blue;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsUxF4k3bP1pyT9Ibkv2Cm35fektjMEPNamydy7y5oq659TdSM);
}

.red-1{
    
    background-color: red;
}
.image{
    background-image: 
}
.item{
    text-align: start;
    padding: 100px;
}
.white{
    background-color: white;
}
.footer{
  display: inline-flex;  
background-color: aqua;

}
.signup{
    text-align: center;
    text-decoration-color: antiquewhite;
}
.button{
    background-color: blue;
    text-align: center;
    padding: 10px;
}
.button2{
    background-color: rgb(240, 255, 244);
text-align: center;
padding: 10px;
}
